default: &default
  adapter: postgresql
  encoding: unicode
  # For details on connection pooling, see rails configuration guide
  # http://guides.rubyonrails.org/configuring.html#database-pooling
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: todo_dev
  username: <%= ENV['TODO_DB'] %>
  password: <%= ENV['TODO_DB'] %>

production:
  <<: *default
  database: simple-todo-api_production
  username: simple-todo-api
  password: <%= ENV['SIMPLE-TODO-API_DATABASE_PASSWORD'] %>
