# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 4453aa9d7309da63592b0c981aaf434cf9b71a4b761ac0663c3e24e500c37dba9cb5e5e62e68fcaf10f8c5fbb8397b4aa74c95a4dd037cea44dc9c007c8773db

test:
  secret_key_base: 6349fb3a4d4c24416b7db5fe6b8dc9296570e05718cc3684bd18f3ab0721106fde0c079a378dc7a8e3ae85197d6f4a3134c649cb68b0b4e05b8680ef1c89798d

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
